swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  max-width: 1450px;
}
.popular-wrapper {
  display: flex;
  align-content: center;
}
.popular-img {
  width: 150px;
  height: 300px;
}
.title-wrapper > span {
  color: white !important ;
  font-weight: 500;
  font-size: 20px;
  margin-right: 10px;
}
.title-wrapper {
  display: flex;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}
.popular-card {
  display: flex;
}
.popular-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.popular-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popular-info h3 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2.25rem;
  font-weight: 700;
  float: left;
}

.popular-card .popular-img {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}
.popular-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 100;
  margin: 0 2%;
}
.popular-info > p,
h3 {
  color: white !important;
}
@media (max-width: 1024px) {
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    max-width: 300px !important;
  }
  .popular-wrapper {
    height: 450px;
  }
  .popular-info {
    margin: auto;
  }
  .popular-img {
    margin: auto;
  }
  .popular-card {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .popular-info > p {
    display: none;
  }
  .popular-info > h3 {
    font-size: 20px !important;
  }
  .search-bar button {
    display: none;
  }
  .search-bar input {
    border-radius: 5px !important;
  }
}
