.listItem {
  display: flex;
  margin: 10px;
  background-color: #2c2c2c;
  border-radius: 10px;
}
.listItem > a {
  color: white !important ;
  font-weight: 600;
  padding: 3%;
}
.listItem > img {
  width: 100px;
  height: 150px;
}
.list-wrapper {
  display: grid;
  grid-template-columns: 5fr 5fr;
}
.latest-uploads {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.latest-uploads i {
  margin-right: 10px;
  font-size: 24px;
}
.listItemText {
  padding: 2%;
  color: white;
}
.list-wrapper a .listItem:hover {
  background-color: #505050;
  transform: translateY(-3px);
}

.list-wrapper a .listItem:active {
  background-color: #666666;
  transform: translateY(1px);
}
.listItem {
  transition: background-color 0.3s, transform 0.3s;
}
@media (max-width: 1024px) {
  .list-wrapper {
    display: flex !important;
    flex-direction: column;
  }
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
}
