.info-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}

.info-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.info-wrapper img {
  z-index: 2;
  position: relative;
  width: 300px;
  height: 400px;
}

.manga-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  z-index: 2;
  position: relative;
}

.manga-info > p,
.manga-info > h1 {
  z-index: 2;
  position: relative;
}
/*Chapter css*/
.chapters-wrapper {
  margin: 20px 0;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.chapters-wrapper h1 {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #e0e0e0;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #2b2b2b;
  z-index: 10;
  padding-right: 20px;
  width: 100%;
  padding-top: 10px;
}

.chapters-wrapper ul {
  max-height: 400px; /* Or any height you need */
  overflow-y: auto;
  margin-top: 20px;
  padding: 0;
  z-index: 5; /* Ensure it's below the h1 */
  position: relative;
}

.chapters-wrapper li {
  padding: 10px;
  border-radius: 5px;
  background-color: #2e2e2e;
  margin-bottom: 5px;
}

.chapters-wrapper li:last-child {
  margin-bottom: 0;
}

.chapters-wrapper a {
  display: block;
  padding: 12px 15px;
  background-color: #383838;
  color: #b3b3b3;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  border: 1px solid #444;
}

.chapters-wrapper a:hover {
  background-color: #505050;
  transform: translateY(-3px);
}

.chapters-wrapper a:active {
  background-color: #666666;
  transform: translateY(1px);
}

.chapters-wrapper::-webkit-scrollbar {
  width: 8px;
}

.chapters-wrapper::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 5px;
}

.chapters-wrapper::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}
@media (max-width: 1024px) {
  .info-wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .manga-info > h1 {
    font-size: x-large;
  }
}
