* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.app {
  display: flex;
}

.main-content {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}
